<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width">

        <link rel="icon" type="icon" href="images/favicon.png">
        <title><%= data.page.title || "TouchGuides" %></title>

        <link rel="icon" type="icon" href="favicon.png">

        <%= stylesheet_link_tag "normalize", "all", "font-awesome" %>
        <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/themes/base/jquery-ui.css" type="text/css"/>
    </head>

    <body class="<%= page_classes %>">
        <header class="header">
            <nav>
                <button class="overlaySelector" id="phone"><i class="icon-phone"></i></button>
                <button class="overlaySelector" id="tablet"><i class="icon-tablet"></i></button>
                <button class="overlaySelector" id="laptop"><i class="icon-laptop"></i></button>
                <button id="refresh"><i class="icon-refresh"></i></button>
            </nav>
            <div id="slider" data-wjs-element="guide"></div>
        </header>
        <div id="guide">
            <div class="hard"><span>Hard</span></div>
            <div class="ok"><span>OK</span></div>
            <div class="easy"><span>Easy</span></div>
        </div>

        <div class="main">
            <h1>Touch<span>Guides</span></h1>
            <div class="url">
                <form id="rwdform" name="rwdform">
                    <input type="url" id="url" name="url" value="" placeholder="http://www.yoururl.com">
                    <button id="go">Go</button>
                </form>
            </div>
            <div class="howitworks">
                <h2>How it works:</h2>
                <ol>
                    <li>Enter Your URL</li>
                    <li>Click Go or Press Enter</li>
                    <li>Choose Your Overlay</li>
                </ol>
            </div>
            <div class="inspiration">
                <p>
                    Inspired by Luke Wroblewski's <a href="http://www.lukew.com/ff/entry.asp?1649">Optimizing for Touch Across Devices</a>, Josh Clark's <a href="http://globalmoxie.com/blog/desktop-touch-design.shtml">Every Desktop Design Has To Go Finger-Friendly</a>, & Justin Avery's <a href="http://ami.responsivedesign.is/">Am I Responsive</a>
                </p>
            </div>
        </div>
        <%= yield %>


        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>
        <%= javascript_include_tag  "all" %>
    </body>
</html>